#navbar-iframe {
    display: none !important;
}
body {
    background:white url(/static/images/background.png) repeat-y scroll 0 0;
    color:#333333;
    font-family:arial;
    font-size:small;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin:0;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    text-align:center;
}
a {
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    color:#CC0000;
}
a:link {
    text-decoration:none;
}
a img {
    border-width:0;
}
#header-wrapper {
    left:15px;
    position:relative;
    top:-60px;
    width:286px;
}
#header-inner {
    background-position:center center;
    margin-left:auto;
    margin-right:auto;
}
#header {
    margin:5px;
    text-align:left;
    color:white;

    font-family:arial;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
}
#header h1 {
    display:block;
    font-size:58px;
    letter-spacing:-4px;
    margin-bottom:0;
    margin-top:45px;
}
#header .description {
    font-size:15px;
    margin:-5px 0 0;
}
#header img {
    margin-left:auto;
    margin-right:auto;
}
#outer-wrapper {
    float:left;
    font-family:arial;
    font-size:100%;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin:0 auto;
    position:relative;
    text-align:left;
    width:940px;
}
#content-wrapper {}
#main-wrapper {
    float:right;
    margin-top:-120px;
    overflow:hidden;
    width:580px;
}
#sidebar-wrapper {
    float:left;
    margin-left:20px;
    margin-top:-70px;
    overflow:hidden;
    width:270px;
}
h2 {
    color:#999999;
    font-family:'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif;
    font-size:78%;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    letter-spacing:0.2em;
    line-height:1.4em;
    margin:1.5em 0 0.75em;
    text-transform:uppercase;
}
h2.date-header {
    margin:1.5em 0 0.5em;
}
.post {
    border-bottom:1px solid #CCCCCC;
    margin:0.5em 0 1.5em;
    padding-bottom:1.5em;
}
.post h3 {
    font-size:22px;
    font-weight:bold;
    line-height:1.4em;
    margin:0.25em 0 0;
    padding-top:10px;
}
.post h3 a, .post h3 a:visited, .post h3 strong {
    color:#000000;
    display:block;
    font-weight:bold;
    text-decoration:none;
}
.post h3 strong, .post h3 a:hover {
    color:#CC0000;
}
.post-body {
    color:#333333;
    font-size:13px;
    line-height:18px;
    margin:0 0 0.75em;
}
.post-body blockquote {
    line-height:1.3em;
}
.post blockquote {
    background:#EEEEEE none repeat scroll 0 0;
    font-family:georgia;
    font-style:italic;
    margin:1em 20px;
    padding:10px;
}
.post-footer {
    color:#999999;
    font-family:arial;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    margin-bottom:10px;
    margin-top:5px;
    text-transform:none;
}
.comment-link {
    margin-left:2px;
    margin-right:2px;
}
.post img {
    border:1px solid #CCCCCC;
    padding:2px;
}
.post blockquote {
    margin:1em 20px;
}
.post blockquote p {
    margin:0.75em 0;
}
.comment-author {}
#comments h4 {
    color:#666666;
    font-weight:bold;
    letter-spacing:0.2em;
    line-height:1.4em;
    margin:1em 0;
    text-transform:none;
}
#comments-block {
    line-height:1.6em;
    margin:1em 0 1.5em;
}
#comments-block .comment-author {
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #EEEEEE;
    font-size:15px;
    font-weight:bold;
    margin-right:20px;
    padding:5px;
}
#comments .blogger-comment-icon, .blogger-comment-icon {
    background:#EEEEEE none repeat scroll 0 0;
    border-color:#CCCCCC #CCCCCC #EEEEEE;
    border-style:solid;
    border-width:2px 1px 1px;
    line-height:16px;
    padding:5px;
}
#comments-block .comment-body {
    border-left:1px solid #EEEEEE;
    border-right:1px solid #EEEEEE;
    margin-left:0;
    margin-right:20px;
    padding:7px;
}
#comments-block .comment-footer {
    border-bottom:1px solid #EEEEEE;
    border-left:1px solid #EEEEEE;
    border-right:1px solid #EEEEEE;
    font-size:11px;
    line-height:1.4em;
    margin:-0.25em 20px 2em 0;
    padding:5px;
    text-transform:none;
}
#comments-block .comment-body p {
    margin:0 0 0.75em;
}
.deleted-comment {
    color:gray;
    font-style:italic;
}
#blog-pager-newer-link {
    float:left;
}
#blog-pager-older-link {
    float:right;
}
#blog-pager {
    text-align:center;
}
.feed-links {
    clear:both;
    line-height:2.5em;
}
.sidebar {
    color:#999999;
    font-size:14px;
    line-height:1.5em;
}
.sidebar h2 {
    color:white;
    font-family:arial;
    font-size:21px;
    font-weight:bold;
    letter-spacing:0;
    margin-bottom:5px;
    text-transform:none;
}
.sidebar a {
    color:#999999;
}
.sidebar a:hover {
    color:white;
}
.sidebar ul {
    font-family:arial;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
.sidebar li {
    line-height:1.2em;
    margin:0;
    padding:0 0 0.25em 0px;
}
.sidebar .widget, .main .widget {
    border-bottom:1px solid #666666;
    margin:0 0 1.5em;
    padding:0 0 1.5em;
}
.main .Blog {
    border-bottom-width:0;
}
.profile-img {
    border:1px solid #CCCCCC;
    float:left;
    margin:0 5px 5px 0;
    padding:4px;
}
.profile-data {
    color:#999999;
    font-family:'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif;
    font-size:78%;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    letter-spacing:0.1em;
    line-height:1.6em;
    margin:0;
    text-transform:uppercase;
}
.profile-datablock {
    margin:0.5em 0;
}
.profile-textblock {
    line-height:1.6em;
    margin:0.5em 0;
}
.profile-link {
    font-family:'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif;
    font-size:78%;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    letter-spacing:0.1em;
    line-height:normal;
    text-transform:uppercase;
}
#navigation {
    background:#F2F2F1 none repeat scroll 0 0;
    height:35px;
    line-height:35px;
    margin-left:335px;
    text-align:left;
}
#back-forward {
    background:#F2F2F1 none repeat scroll 0 0;
    line-height:35px;
}
.navigation {
    margin:0;
    padding:0;
}
.homebtn {
    display:inline;
}
.navitem {
    display:inline;
}
.homebtn a {
    background:#CC0000 none repeat scroll 0 0;
    color:#F2F2F1!important;
}
.homebtn a:hover {
    background:#CC0000 none repeat scroll 0 0;
    color:#F2F2F1;
    text-decoration:none;
}
.navitem a {
    color:#191919;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    letter-spacing:0;
    padding:11px 30px 9px;
}
.navitem a:hover {
    background:#CC0000 none repeat scroll 0 0;
    color:#F2F2F1;
    text-decoration:none;
}
#search-wrapper {
    margin-left:20px;
    margin-top:-32px;
    width:300px;
}
#search input {
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
}
#search {
    margin:0;
    padding:0;
    position:relative;
}
#search-box {
    background:#4B4B4B none repeat scroll 0 0;
    border:medium none;
    color:#939393;
    display:block;
    height:22px;
    padding:6px 10px 5px;
    width:236px;
}
#search-button {
    background:transparent url() no-repeat scroll 0 0;
    border:medium none;
    display:block;
    height:35px;
    left:256px;
    margin:0;
    position:absolute;
    top:13px;
    width:39px;
}
#search-button:hover {
    background:transparent url() no-repeat scroll 0 0;
}
#footer-wrapper {
    background:#F2F2F1 none repeat scroll 0 0;
    clear:both;
    height:35px;
    line-height:35px;
    margin-left:335px;
    padding-left:20px;
    text-align:left;
}
.podcast_description {
    background:#EEEEEE;
    margin: 1em 20px;
    padding: 10px;
}
.podcast_description h3 {
    margin: 0;
    margin-bottom: 10px;
}