{% extends "base.html" %}
{% load date_filters %}

{% block top_menu %}
	<li class='navitem'><a href='/'>Hejmo</a></li>
        <li class='homebtn navitem'><a href='/pri-podkastaro'>Pri Podkastaro</a></li>
{% endblock %}


{% block episodes %}

<h3>Kio estas podkastaro?</h3>

<p>Podkastaro estas simpla retejo, kie oni povas trovi ĉiujn
esperantajn podkastojn.</p>

<h3>Kial vi ne havas arĥivojn?</h3>

<p>Malnovaj epizodoj estas montrataj, sed Podkastaro ne konservas la
doseriojn hodiaŭ. Mi esploros ĉi tion en la estonteco.</p>

<h3>Ĉu mi povas uzi vian kodon?</h3>

<p>Jes ja! Vi povas trovi ĝin
ĉe <a href="http://github.com/Wilfred/podkastaro2">GitHub</a>. Bedaŭrinde
mi skribis la Python-an kodon en la angla, do kontaktu min se vi ne
komprenas ĝin.</p>

<h3>Kiu estas vi?</h3>

<p>Saluton! Mi estas juna brita esperantisto kiu volis uzi siajn
  komputikajn povojn por helpi esperantistojn. Mi
  havas <a href="http://www.littlelinguist.org/">blogon</a>, mia
  skajpkonto estas vilfredo_ kaj mi ofte 
  <a href="http://twitter.com/vilfredo_">uzas tviteron</a>.</p>

<p>Se oni volas kontakti min rekte, uzu la
  formon <a href="http://lalingvisto.wordpress.com/pri-mi/">ĉi
  tie</a>.</p>

<p><em>Vilfredo</em></pm>

{% endblock %}
