<!DOCTYPE html>
<html>

	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

		<title>Podkastaro: Esperantaj Podkastoj Por La Mondo</title>

		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

	</head>

	<body>
		<div id='navigation'>
			<ul class='navigation'>
				<li class='homebtn'><a href='/'>Hejmo</a></li>
				<li class='navitem'><a href='#'>Pri Podkastaro</a></li>
			</ul>
		</div>

		<div id='outer-wrapper'>
			<div id='wrap2'>

				<div id='header-wrapper'>
					<div class='header section' id='header'>
						<div class='widget Header' id='Header1'>
							<div id='header-inner'>
								<div class='titlewrapper'>
									
									<h1 class='title'>
										Podkastaro
									</h1>
								</div>

								<div class='descriptionwrapper'>
									<p class='description'><span>esperantaj podkastoj por la mondo</span></p>
								</div>
							</div>
						</div>
					
					</div>
				</div>

				<div id='content-wrapper'>
					<div id='main-wrapper'>
						<div class='main section' id='main'>
							
							<div class='widget Blog' id='Blog1'>
								<div class='blog-posts hfeed'>
									<div class='post hentry uncustomized-post-template'>
										<a name='2730734274868210511'></a>
										<h3 class='post-title entry-title'>
											<a href='http://2plus-demo-dantearaujo.blogspot.com/2009/05/posting-something.html'>Posting Something</a>
										</h3>
										<div class='post-footer'>
											<div class='post-footer-line post-footer-line-1'>
												<span class='post-author vcard'>
													Posted by Dante Araújo
												</span>
											</div>
										</div>
										<div class='post-body entry-content'>
											Fusce aliquam iaculis ligula; vel rutrum felis aliquam in. Sed
											sed massa porttitor tellus faucibus aliquam vel at dui?  Donec
											non ligula orci. Donec feugiat orci et augue hendrerit et
											ornare libero venenatis. Fusce pharetra condimentum
											rutrum. Praesent pharetra fringilla porta. Proin feugiat,
											justo vel bibendum tincidunt, nulla orci fermentum lorem, id
											ornare elit mi a lorem. Sed id lacus id sapien luctus
											mollis. In sed adipiscing velit. Vivamus interdum congue
											sapien nec pellentesque? Morbi id consectetur elit. Cras
											venenatis fringilla magna eget molestie. In hac habitasse
											platea dictumst. In varius porta lectus a dapibus.
										</div>
									</div>
									<div class='post hentry uncustomized-post-template'>
										<a name='2730734274868210511'></a>
										<h3 class='post-title entry-title'>
											<a href='http://2plus-demo-dantearaujo.blogspot.com/2009/05/posting-something.html'>Posting Something</a>
										</h3>
										<div class='post-footer'>
											<div class='post-footer-line post-footer-line-1'>
												<span class='post-author vcard'>
													Posted by Dante Araújo
												</span>
											</div>
										</div>
										<div class='post-body entry-content'>
											Fusce aliquam iaculis ligula; vel rutrum felis aliquam in. Sed
											sed massa porttitor tellus faucibus aliquam vel at dui?  Donec
											non ligula orci. Donec feugiat orci et augue hendrerit et
											ornare libero venenatis. Fusce pharetra condimentum
											rutrum. Praesent pharetra fringilla porta. Proin feugiat,
											justo vel bibendum tincidunt, nulla orci fermentum lorem, id
											ornare elit mi a lorem. Sed id lacus id sapien luctus
											mollis. In sed adipiscing velit. Vivamus interdum congue
											sapien nec pellentesque? Morbi id consectetur elit. Cras
											venenatis fringilla magna eget molestie. In hac habitasse
											platea dictumst. In varius porta lectus a dapibus.
										</div>
									</div>
									<div class='post hentry uncustomized-post-template'>
										<a name='2730734274868210511'></a>
										<h3 class='post-title entry-title'>
											<a href='http://2plus-demo-dantearaujo.blogspot.com/2009/05/posting-something.html'>Posting Something</a>
										</h3>
										<div class='post-footer'>
											<div class='post-footer-line post-footer-line-1'>
												<span class='post-author vcard'>
													Posted by Dante Araújo
												</span>
											</div>
										</div>
										<div class='post-body entry-content'>
											Fusce aliquam iaculis ligula; vel rutrum felis aliquam in. Sed
											sed massa porttitor tellus faucibus aliquam vel at dui?  Donec
											non ligula orci. Donec feugiat orci et augue hendrerit et
											ornare libero venenatis. Fusce pharetra condimentum
											rutrum. Praesent pharetra fringilla porta. Proin feugiat,
											justo vel bibendum tincidunt, nulla orci fermentum lorem, id
											ornare elit mi a lorem. Sed id lacus id sapien luctus
											mollis. In sed adipiscing velit. Vivamus interdum congue
											sapien nec pellentesque? Morbi id consectetur elit. Cras
											venenatis fringilla magna eget molestie. In hac habitasse
											platea dictumst. In varius porta lectus a dapibus.
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div id='sidebar-wrapper'>
						<div class='sidebar section' id='sidebar'>
							<div class='widget Label' id='Label1'>
								<h2>Categories</h2>
								<div class='widget-content list-label-widget-content'>
									<ul>
										<li>
											<a dir='ltr' href='http://2plus-demo-dantearaujo.blogspot.com/search/label/Category%201'>Category 1</a>

											<span dir='ltr'>(1)</span>
										</li>
										<li>
											<a dir='ltr' href='http://2plus-demo-dantearaujo.blogspot.com/search/label/Category%202'>Category 2</a>
											<span dir='ltr'>(1)</span>
										</li>
										<li>
											<a dir='ltr' href='http://2plus-demo-dantearaujo.blogspot.com/search/label/Category%203'>Category 3</a>
											<span dir='ltr'>(1)</span>
										</li>
									</ul>
									<div class='clear'></div>
								</div>
							</div>
						
						</div>
						<div class='rss'><a href='http://2plus-demo-dantearaujo.blogspot.com/feeds/posts/default'><img alt='rss' border='0' src='/static/images/rss3.png'/></a>
						</div>
					</div>

				</div>
				<!-- end content-wrapper -->
			</div>
		
		</div>

	</body>
</html>
