<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Podkastaro: Esperantaj Podkastoj Por La Mondo</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<!--[if IE 6]>
		    <link rel="stylesheet" type="text/css" href="/static/css/style6.css" />
		    <![endif]-->
		<!--[if IE 7]>
		    <link href="/static/css/style7.css" rel="stylesheet" type="text/css">
			    <![endif]-->
		<style type="text/css"> 
			
			/* Design by Studio7designs.com */
			
			/*
			USAGE:
			Copy and paste this one line into your site's CSS stylesheet.
			Add comma-separated CSS selectors / element names that have transparent PNGs.
			The path to the HTC is relative to the HTML file that includes it.
			See below for another method of activating the script without adding CSS here.
			*/
			
			img, div, input { behavior: url("/static/iepngfix.htc") }
		</style>

	</head>
	<body>
		<!--wrapper starts-->
		<div id="wrapper">
			<!--container starts-->
    			<div id="container">
        			<!--ltcontent starts-->
        			<div id="ltcontent">
            				<!--hdlogo starts-->
					<div id="hdlogo" align="center">
                				<img src="/static/images/microphone.jpg" alt=""/>
					</div>
					<!--hdlogo ends-->

					<!--popular starts-->
                			<div id="mostpop">
                				<div class="lthead"><span>Podkastoj</span></div>
						<!--rtposts starts-->

						{% load eo_slugify %}
						<div class="rtposts">
							<ul>
								{% for podcast in podcasts %}
                                                                <li>
									<a href="/podkasto/{{ podcast.name|eo_slugify }}">{{ podcast.name }}</a>
                                                                </li>
								{% endfor %}
							</ul>
						</div>
						<!--rtposts ends-->
						<div class="clear"></div>
					</div>
					<!--popular ends-->

				</div>
				<!--ltcontent ends-->
				<!--rtcontent starts-->
				<div id="rtcontent">
           				<!--publish starts-->
					<div class="publish">esperantaj podkastoj por la mondo</div>
					<!--publish ends-->
					<!--head starts-->
					<div class="head">Podkastaro</div>
					<!--head ends-->

					<!--menulinks starts -->
					<div id="menulinks">
	            				<ul>
    	    						<li><a href="#">Hejmo</a></li>
							<li><a href="#" class="scrcast">Pri Podkastaro</a></li>
						</ul>
    					</div>
					<div class="clear"></div>
					<!--menulinks ends -->

                                        {% block episodes %}{% endblock %}

				</div>
				<!--rtcontent ends-->
				<div class="clear"></div>
			</div>
			<!--container starts-->
		</div>
		<!--wrapper ends-->
	</body>
</html>
