<!DOCTYPE html>
<html>

	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

		<title>Podkastaro: Esperantaj Podkastoj Por La Mondo</title>

		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

	</head>

	<body>
		<div id='navigation'>
			<ul class='navigation'>
				{% block top_menu %}
				<li class='navitem'><a href='/'>Hejmo</a></li>
				<li class='navitem'><a href='#'>Pri Podkastaro</a></li>
				{% endblock %}
			</ul>
		</div>

		<div id='outer-wrapper'>
			<div id='wrap2'>

				<div id='header-wrapper'>
					<div class='header section' id='header'>
						<div class='widget Header' id='Header1'>
							<div id='header-inner'>
								<div class='titlewrapper'>
									
									<h1 class='title'>
										<a href="/">
											Podkastaro
										</a>
									</h1>
								</div>

								<div class='descriptionwrapper'>
									<p class='description'><span>esperantaj podkastoj por la mondo</span></p>
								</div>
							</div>
						</div>
					
					</div>
				</div>

				<div id='content-wrapper'>
					<div id='main-wrapper'>
						<div class='main section' id='main'>
							
							<div class='widget Blog' id='Blog1'>
								<div class='blog-posts hfeed'>
									{% block episodes %}{% endblock %}
								</div>
							</div>
						</div>
					</div>
					<div id='sidebar-wrapper'>
						<div class='sidebar section' id='sidebar'>
							<div class='widget Label' id='Label1'>
								<h2>Podkastoj</h2>

								{% load eo_slugify %}
								<ul>
								{% for podcast in podcasts %}
								<li>
									<a href="/podkasto/{{ podcast.name|eo_slugify }}">{{ podcast.name }}</a>
								</li>
								{% endfor %}
								</ul>
							</div>
						
						</div>
						<div class='rss'><a href='http://2plus-demo-dantearaujo.blogspot.com/feeds/posts/default'><img alt='rss' border='0' src='/static/images/rss3.png'/></a>
						</div>
					</div>

				</div>
				<!-- end content-wrapper -->
			</div>
		
		</div>

	</body>
</html>
