<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Podkastaro: Esperantaj Podkastoj Por La Mondo</title>
		<link rel="stylesheet" type="text/css" href="static/css/style.css" />
		<!--[if IE 6]>
		    <link rel="stylesheet" type="text/css" href="static/css/style6.css" />
		    <![endif]-->
		<!--[if IE 7]>
		    <link href="static/css/style7.css" rel="stylesheet" type="text/css">
			    <![endif]-->
		<style type="text/css"> 
			
			/* Design by Studio7designs.com */
			
			/*
			USAGE:
			Copy and paste this one line into your site's CSS stylesheet.
			Add comma-separated CSS selectors / element names that have transparent PNGs.
			The path to the HTC is relative to the HTML file that includes it.
			See below for another method of activating the script without adding CSS here.
			*/
			
			img, div, input { behavior: url("static/iepngfix.htc") }
		</style>
		<script type="text/javascript">
			//<![CDATA[
 
 // If you don't want to put nonstandard properties in your stylesheet, here's yet
 // another means of activating the script. This assumes that you have at least one
 // stylesheet included already in the document above this script.
 // To activate, delete the CSS rules above and uncomment below (remove /* and */ ).
 
 /*
 if (document.all && /MSIE (5\.5|6)/.test(navigator.userAgent) &&
  document.styleSheets && document.styleSheets[0] && document.styleSheets[0].addRule)
 {
  document.styleSheets[0].addRule('*', 'behavior: url(iepngfix.htc)');
  // Feel free to add rules for specific elements only, as above.
  // You have to call this once for each selector, like so:
  //document.styleSheets[0].addRule('img', 'behavior: url(iepngfix.htc)');
  //document.styleSheets[0].addRule('div', 'behavior: url(iepngfix.htc)');
 }
 */
 
 
 // Here's another script that disables all PNGs in IE when the page is printed.
 /*
 if (window.attachEvent  && /MSIE (5\.5|6)/.test(navigator.userAgent))
 {
  function printPNGFix(disable)
  {
   for (var  i = 0; i < document.all.length; i++)
   {
    var e = document.all[i];
    if (e.filters['DXImageTransform.Microsoft.AlphaImageLoader'] || e._png_print)
    {
     if (disable)
     {
      e._png_print = e.style.filter;
      e.style.filter = '';
     }
     else
     {
      e.style.filter = e._png_print;
      e._png_print = '';
     }
    }
   }
  };
  window.attachEvent('onbeforeprint',  function() { printPNGFix(1) });
  window.attachEvent('onafterprint',  function() { printPNGFix(0) });
 }
 */
 
 //]]>
		</script>
	</head>
	<body>
		<!--wrapper starts-->
		<div id="wrapper">
			<!--container starts-->
    			<div id="container">
        			<!--ltcontent starts-->
        			<div id="ltcontent">
            				<!--hdlogo starts-->
					<div id="hdlogo" align="center">
                				<img src="static/images/microphone.jpg" alt=""/>
					</div>
					<!--hdlogo ends-->

					<!--popular starts-->
                			<div id="mostpop">
                				<div class="lthead"><span>Podkastoj</span></div>
						<!--rtposts starts-->
						<div class="rtposts">
							<ul>
								<li><a href="#">3ZZZ Radio</a></li>
								<li><a href="#">Podkasto Per Poŝtelefono</a></li>
								<li><a href="#">Adipisci</a></li>
								<li><a href="#">Numquam</a></li>
								<li><a href="#">Vel Illium</a></li>
							</ul>
						</div>
						<!--rtposts ends-->
						<div class="clear"></div>
					</div>
					<!--popular ends-->

				</div>
				<!--ltcontent ends-->
				<!--rtcontent starts-->
				<div id="rtcontent">
           				<!--publish starts-->
					<div class="publish">esperantaj podkastoj por la mondo</div>
					<!--publish ends-->
					<!--head starts-->
					<div class="head">Podkastaro</div>
					<!--head ends-->

					<!--menulinks starts -->
					<div id="menulinks">
	            				<ul>
    	    						<li><a href="#">Hejmo</a></li>
							<li><a href="#" class="scrcast">Pri Podkastaro</a></li>
						</ul>
    					</div>
					<div class="clear"></div>
					<!--menulinks ends -->
					<!--documentarty starts-->
					<div class="document">
						<div>&nbsp;</div>
            					<div class="dochead">
                					<span class="dhead">elsendo de la 14a de februaro 2011</span>
						</div>
						<div>
							<span class="post">3ZZZ Radio | Lundo, la 14-a de februaro 2011</span>
						</div>
						<div class="dcontent">
                					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomized words which don't look even slightly believable.
						</div>
					</div>
					<div class="rtboxbg">&nbsp;</div>
					<!--documentary ends-->
					<div class="gap"></div>
					<!--Video starts-->
					<div class="document">
						<div>&nbsp;</div>
            					<div class="dochead">
                					<span class="dhead">Radio Havano Kubo 2011-02-13</span>
						</div>
						<div>
							<span class="post">posted by admin | september 3, 2009</span>
						</div>
						<div class="dcontent">
                					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomized words which don't look even slightly believable.
						</div>
					</div>
					<div class="rtboxbg">&nbsp;</div>
					<!--Video ends-->
					<div class="gap"></div>
					<!--Helping starts-->
					<div class="document">
						<div>&nbsp;</div>
            					<div class="dochead">
                					<span class="dhead">Helping the poor achieve</span>
						</div>
						<div>
							<span class="post">posted by admin | september 3, 2010</span>
						</div>
						<div class="dcontent">
                					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
						</div>
					</div>
					<div class="rtboxbg">&nbsp;</div>
					<!--Helping ends-->
				</div>
				<!--rtcontent ends-->
				<div class="clear"></div>
			</div>
			<!--container starts-->
		</div>
		<!--wrapper ends-->
	</body>
</html>
