{% extends "base.html" %}
{% load date_filters %}

{% block episodes %}

{% for episode, attachments in episodes.object_list %}
<div class="document">
	<div>&nbsp;</div>
        <div class="dochead">
                <span class="dhead">{{ episode.title }}</span>
	</div>

	<div>
                <span class="post">{{ episode.podcast.name }} | {{ episode.time|eo_date }}</span>
	</div>

	<div class="dcontent">
		<p>{{ episode.raw_description }}</p>

		{% for attachment in attachments %}
		<p>
		<object type="application/x-shockwave-flash"
			data="/static/flash/dewplayer.swf" width="200"
			height="20" name="dewplayerclassic">
			<param name="movie" value="dewplayer.swf">
			<param name="flashvars" value="mp3={{ attachment.url }}">
		</object>
		<p>
		{% endfor %}

                <div>&nbsp;</div>
	</div>
</div>

<div class="rtboxbg">&nbsp;</div>
<div class="gap"></div>
{% endfor %}

<div class="description pagenumber">
	<div>&nbsp;</div>
	<div class="dcontent">
        {% if episodes.has_previous %}
            <a href="?page={{ episodes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ episodes.number }} of {{ episodes.paginator.num_pages }}.
        </span>

        {% if episodes.has_next %}
            <a href="?paĝo={{ episodes.next_page_number }}">next</a>
        {% endif %}
	</div>

</div>

<div class="rtboxbg">&nbsp;</div>
<div class="gap"></div>

{% endblock %}
