{% extends "base.html" %}

{% block episodes %}

{# podcast intro #}
<div class="document">
	<div>&nbsp;</div>
        <div class="dochead">
                <span class="dhead">{{ podcast.name }}</span>
	</div>
	<div class="dcontent">
		{{ podcast.description }}

		<div>&nbsp;</div>
	</div>
</div>

<div class="rtboxbg">&nbsp;</div>
<div class="gap"></div>

{# podcast episodes #}
{% for episode, attachments in episodes %}
<div class="document">
	<div>&nbsp;</div>
        <div class="dochead">
                <span class="dhead">{{ episode.title }}</span>
	</div>
	<div class="dcontent">
		<p>{{ episode.raw_description }}</p>

		{% for attachment in attachments %}
		<object type="application/x-shockwave-flash"
			data="/static/flash/dewplayer.swf" width="200"
			height="20" name="dewplayerclassic">
			<param name="movie" value="dewplayer.swf">
			<param name="flashvars" value="mp3={{ attachment.url }}">
		</object>
		{% endfor %}

                <div>&nbsp;</div>
	</div>
</div>

<div class="rtboxbg">&nbsp;</div>
<div class="gap"></div>
{% endfor %}

{% endblock %}
