{% extends "base.html" %}

{% block episodes %}
<div class="document">
	<div>&nbsp;</div>
        <div class="dochead">
                <span class="dhead">elsendo de la 14a de februaro 2011</span>
	</div>
	<div>
		<span class="post">3ZZZ Radio | Lundo, la 14-a de februaro 2011</span>
	</div>
	<div class="dcontent">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomized words which don't look even slightly believable.
	</div>
</div>

<div class="rtboxbg">&nbsp;</div>

<div class="gap"></div>
{% endblock %}
